{#
/**
 * @file page_themes.html.twig
 * Default theme implementation to present Docs data.
 *
 * This template is used when viewing Docs pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_page_themes()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('page_themes') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
